{% extends 'base.html.twig' %}

{% block title %}Hello I18nController!{% endblock %}

{% block body %}

    <h2>Traduction</h2>

    <div class="mb-3">
        <a href="{{ path('i18n_index', {_locale: 'fr'}) }}">Français</a> -
        <a href="{{ path('i18n_index', {_locale: 'en'}) }}">English</a>
    </div>

    <p>{{ message }}</p>

    <p class="lead">{{ 'message.welcome'|trans }}</p>

    <p>{{ 'message.hello'|trans({'%name%': 'Albert'}) }}</p>

    {% trans with {'%name%': 'Jean'} into 'fr' %}message.hello{% endtrans %}

{% endblock %}
