{% extends 'base.html.twig' %}

{% block title %}Article {{ post.title }}{% endblock %}

{% block body %}
    <div class="mb-3">
        <a href="{{ path('admin_post_index') }}" class="btn btn-secondary">
            Revenir à la liste des articles
        </a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Alias d'url</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ post.content|raw }}</td>
            </tr>
            <tr>
                <th>Date de Création</th>
                <td>{{ post.createdAt|date }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
